@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

*{
  box-sizing: content-box;
}

.wrap, .inner-box{
  width: 414px;
  font-family : 'Noto Sans KR', sans-serif;
}

/*초기화*/
h1, h2, h3, h4{
  margin: 0;
  display: inline;
}

.inner-box{
  display: flex;
  flex-direction: column;
  background: url('../assets/images/inner-box.png') no-repeat;
}


/* 헤더 */
.header{
  height: 124px;
  text-align: left;
  position: relative;
  top: 70px;
}

.textHeader{
  width: 282px; height: 80px;
  padding-left: 20px;
}

.header h1{
  display: block;
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.header h4{
  font-size: 16px;
  color: white;

}

.categoryButtonWrap{
  display: flex;
  flex-direction: row;
  width: 414px;
  position: relative;
  top: 20px;
}

input.categoryButton{
  padding: 0;
  width: 104px; height: 44px;
  background: #FFFFFF;
  border: 1px solid #FA959B;
  

  box-shadow: 0px 4px 4px rgba(66, 8, 11, 0.2);
  border-radius: 100px;

  

  font-size: 15px;
  color: #FA959B;
  text-align: center;
  line-height: 44px;
  margin: auto;
}



/* 피드 */

.feedWrap{
  width: 374px; height: 588px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(146, 146, 146, 0.1);
  border-radius: 30.2134px;
  margin: 0 auto;
  /* background: url('../assets/images/recentFeed.png') no-repeat;
  background-size: contain; */
  position: relative;
  bottom: -122px;
}

.feedTitle{
  display: flex;
  flex-direction: row;
  width: 300px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 38px;
  
}

.feedLogo{
  margin-top: auto;
  margin-bottom: auto;
}

.feedTitle h2{
  width: 234px;
  padding-left: 10px;
  color: #999999;
  font-size: 22px;
}

.feedTitle h3{
  color: #666666;
  font-size: 22px;
}

/*누르면 펼쳐지는 것*/
.single-foo-menu {
  position: absolute;
  z-index: 90 !important;
  width: 104px;
  text-align: center;
}

.single-menu-active .single-top-nav-bar{
  z-index: 90;
}

/*누르기 전 버튼*/
.single-top-nav-bar {
  position: relative;
  padding: 0;
  width: 104px; height: 44px;
  background: #FFFFFF;
  border: 1px solid #FA959B;

  box-shadow: 0px 4px 4px rgba(66, 8, 11, 0.2);
  border-radius: 100px;

  font-size: 15px;
  color: #FA959B;
  text-align: center;
  line-height: 44px;
  margin: auto;
}

.am-navbar-title {
  color: #FFF!important;
}
.menu-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 89;
}

.am-list-body{
  width: 374px;
  height: 62px;
  display: flex;
  flex-direction: row;
}

.am-list-item{
  

  background: #FFFFFF;
  border-radius: 100px;

  color: #FA959B;
  width: 64px; height: 26px;
  text-align: center;
}

.am-radio-input{
  display: none;
}